lab2/4 задание/xml schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="schedule">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="week">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="day">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="lesson">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="subject" type="xs:string" />
													<xs:element name="classroom" type="xs:string" />
													<xs:element name="teacher" type="xs:string" />
													<xs:element name="start_time" type="xs:string" />
													<xs:element name="end_time" type="xs:string" />
													<xs:element name="type" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>